USE [master]
GO
/****** Object:  Database [ControlIT]    Script Date: 28/04/2019 2:52:03 p.m. ******/
CREATE DATABASE [ControlIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ControlIT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ControlIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ControlIT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlIT]
GO
/****** Object:  StoredProcedure [dbo].[InsertData]    Script Date: 28/04/2019 2:52:03 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[InsertData]  
(  
@FName varchar(50),  
@Lname Varchar(50),  
@Compnay varchar(50)  
  
)  
as  
begin  
  
INSERT INTO [dbo].[Employee]  
           ([FirstName]  
           ,[LastName]  
           ,[Company])  
     VALUES  
           (  
           @FName,  
           @Lname,  
           @Compnay  
          )  
End  
GO
/****** Object:  Table [dbo].[propietario]    Script Date: 28/04/2019 2:52:03 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[propietario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_propietario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 28/04/2019 2:52:03 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vehiculos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[longitud] [float] NOT NULL,
	[latitud] [float] NOT NULL,
	[propietario] [int] NOT NULL,
	[sitio] [varchar](100) NULL,
 CONSTRAINT [PK_vehiculos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_vehiculos_propietario] FOREIGN KEY([propietario])
REFERENCES [dbo].[propietario] ([id])
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [FK_vehiculos_propietario]
GO
USE [master]
GO
